---
---

@import "{{ site.theme }}";

h1 {
  padding-top: 1em;
  border-top: 1px solid lightgrey;
}

h1 .project-name {
  padding-top: 0 !important;
  border-top: 0 !important;
  border-bottom: 1px solid white !important;
}